<!-- / menu -->

  <app-navbar-site-formation></app-navbar-site-formation>

  <!-- Start slider -->
  <app-slider1></app-slider1>
  <!-- / slider -->
  <!-- Start Promo section -->
  
  <app-top-categories></app-top-categories>

   
  <!-- / Promo section -->
  <!-- Products section -->
  <app-galerie2></app-galerie2> 
  <!-- / Products section -->
  <!-- banner section -->
  <app-galerie3></app-galerie3>
  <!-- / popular section -->
  <!-- Support section -->
  <app-slider2></app-slider2>
  <!-- / Testimonial -->

  <!-- Latest Blog -->
  
  <!-- / Latest Blog -->

  <!-- Client Brand -->
  
  <!-- / Client Brand -->
  <app-galerie4></app-galerie4> 
  <!-- Subscribe section -->

  <app-galerie5></app-galerie5> 

  <section id="aa-subscribe">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-subscribe-area">
            <h3>Subscribe our newsletter </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>
            <form action="" class="aa-subscribe-form">
              <input type="email" name="" id="" placeholder="Enter your Email">
              <input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Subscribe section -->

  <!-- footer -->  
  <app-footer-formation></app-footer-formation>
  <!-- / footer -->

  <!-- Login Modal -->  
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">                      
        <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Login or Register</h4>
          <form class="aa-login-form" action="">
            <label for="">Username or Email address<span>*</span></label>
            <input type="text" placeholder="Username or email">
            <label for="">Password<span>*</span></label>
            <input type="password" placeholder="Password">
            <button class="aa-browse-btn" type="submit">Login</button>
            <label for="rememberme" class="rememberme"><input type="checkbox" id="rememberme"> Remember me </label>
            <p class="aa-lost-password"><a href="#">Lost your password?</a></p>
            <div class="aa-register-now">
              Don't have an account?<a href="account.html">Register now!</a>
            </div>
          </form>
        </div>                        
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div> 
